#root {
    background-color: var(--swatch-primary);
    font-family: "Lexend Exa";
    position: absolute;
    width: 80%;
    left: 10%;
    height: 90%;
    top: 5%; 
    }

#app-root {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}

#pixelab-banner {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 10%;
    float: left;
    background-image: linear-gradient(to bottom, #b8b808, #636723);
    color: white;
    font-size: 48pt;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}


/*
   shugui
*/
.navigationbar{
  position: relative;  /* using flex when it is in the page*/
  left: 0%;
  width: 7%;
  top: 0%;
  height: 100%;
  background-color: rgb(7, 174, 216)
}

.full-screen {   /* shugui: can be apply for the community */
  display: flex;
  position: relative;
  width: 100%;
  height: 90%;
  color: white;
  float: top;
}

.right-screen {
  position: relative;
  width: 93%;
  height: 100%;
}
/* inside the right-screen: New file, save file, import export, such buttons */
.menu-bar {
  position: relative;
  top: 0%;
  height: 4%;
  color:aqua;
}

/* resource begin */
.right-resource-screen {
  position: relative;
  width: 93%;
  height: 100%;
  background-color: #faf9ff;
  color: black;
}
/* resource top bar css */
.resource-topbar{
  display: flex;
  position: relative;
  margin-top: 0%;
  height: 8%;
}
.return-button{
  position: relative;
  width: 7%;
}
.resource-name{
  margin-top: 1%;
  position: relative;
  width: 78%;
}
.resource-author{
  margin-top: 1%;
  position: relative;
  width: 15%;
}
/* resource middle part image and text description */
/* image and description text */
.resource-middle{
  display: flex;
  position: relative;
  height: 40%;
}
.resource-image{
  position: relative;
  width: 25%;
  margin-top: 1%;
  margin-left: 6%;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}
.resource-description{
  position: relative;
  margin-left: 6%;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 55%;
  background-color: white;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}
/* resource middle-bottom part: 3 buttons */
.resource-buttons-board{
  display: flex;
  position: relative;
  height: 8%;
}
.resource-buttons{
  display: flex;
  position: relative;
  width: 25%;
  margin-left: 6%;
}
.resource-download-button{
  position: relative;
  width: 20%;
}
.resource-like-button{
  position: relative;
  width: 20%;
  margin-left: 23%
}
.resource-star-button{
  position: relative;
  width: 18%;
  margin-left:20%
}

/* resource bottom part: comment*/
.resource-bottom{
  display: flex;
  flex-direction: column;
  position: relative;
  height: 44%;
}
.resource-commentboard{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  overflow-y: scroll;
  margin-left: 6%;
  margin-bottom: 0.5%;
  width: 86%;
  height: 82%;
  background-color: #dff2fd;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 1px;
}
.resource-comment-border{
  width: 100%;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  background-color: white;
}
.resource-commentboard-textfield{
  position: relative;
  display: flex;
  width: 85%;
  height: 15%;
  margin-left: 6%;
}

/* resource end */

/*
   shugui
*/
.instructions {
  font-size: 0.8em;
  color: #aaa;
  text-align: center;
  margin:0;
  margin-bottom: 16px;
}

.map {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.mapbanner{
  background: hwb(71 31% 8%);
}
.card {
  display: flex;
  position: absolute;
  height: 95%;
  width: 100%;
  background: hwb(0 100% 0%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
.card_body {
  display:flex;
  /* padding-left: 800px; */
  margin-left: 5%;
}
.card_center-column{
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  /* background-color: rgb(235, 225, 225); */
}

/* canvas {
  // outline: 1px solid #ddd;
  background: #f4f8f9;
} */

.tileset-container {
  position: absolute;
}
.tileset-container_selection {
  position:absolute;
  outline: 3px solid cyan;
  left:0;
  top:0;
  width: 32px;
  height:32px;
}
.card_body_2 {
  position:absolute;
  list-style-type:none;
  /* margin:0; */
  /* left:800px; */
  margin-left: 5%;
}
.layers {
  /* list-style-type:none;
  margin:0;
  padding:0; */
  margin-left: 5%;
  overflow-y: scroll;
  height: 15%;
  /* padding-left: 800px; */
  /* button {
     appearance:none;
     font-family:inherit;
     outline:0;
     background:transparent;
     border:0;
     padding: 8px 0;
     // border-bottom:1px solid #ddd;
     display:block;
     width: 100%;
     text-align:left;
     cursor:pointer;
  
     &.active {
        font-weight:bold;
        color: #0884f1;
     }
  } */
}

.button-as-link {
  appearance:none;
  text-decoration: underline;
  background: transparent;
  color: #7f808e;
  border:0;
  outline:0;
  cursor:pointer;
}
.primary-button {
  border:0;
  background: #4e84fa;
  border-top:4px solid transparent;
  border-bottom: 4px solid #3166c7;
  color: #fff;
  border-radius: 6px;
  outline:0;
  padding: 6px 16px;
  cursor:pointer;
}
/*
Chengzhi Dong
*/

#welcome-screen {
  background-image: url("img/welcomebackground.png");
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  height:75%;
  border-radius: 10px;
  background-size: cover;
  /* color: #FFFEC3; */
  /* font-size: 5vw;
  font-weight: bold;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  height:80%;
  width:85%;
  text-align: center;
  vertical-align: center; */
}

#tileset-screen{

}

/* .home-add-button{
  position: relative;
  background-color: #008CBA;
  border-width: 5px;
  color: white;
  margin-left: 20%;
  margin-top: 15%;
  height: 60%;
  width: 60%;
  border-radius: 12px;
} */
#home-map-list{
  position: relative;
  width: 98%;
  height: 95%;
  margin: 1%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

#home-tileset-list{
  position: relative;
  width: 98%;
  height: 95%;
  margin: 1%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.home-map-card{
  position: relative;
  max-height: 70%;
  max-width: 20%;
  min-width: 20%;
  min-height: 70%;
  margin: 3%;
}

.home-tileset-card{
  position: relative;
  max-height: 70%;
  max-width: 20%;
  min-width: 20%;
  min-height: 70%;
  margin: 3%;
}
/*
Chengzhi Dong
*/


/*  
stephen tang
  */

.content_scroll{
  overflow-y: hidden;
  height: 2.5cm;
}

#community-screen{
  position: absolute;
  width: 93%;
  top: 2%;
  height: 99%;
  right: -0.1%;
  overflow-y: scroll;
  background-color: #b3e5ff;
}

.dropbtn {
  background-color: #b3e5ff;
  color: rgb(6, 5, 5);
  padding: 8px;
  font-size: 16px;
  border: rgb(150, 149, 149);
  border-style: ridge;
}

.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(186, 217, 244);
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 6px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: rgb(168, 194, 254);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgb(168, 194, 254);}
/*  
stephen tang
  */



/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[data-animation] .modal-dialog {
    opacity: 0;
    transition: all 0.5s var(--bounceEasing);
  }
  
  [data-animation].is-visible .modal-dialog {
    opacity: 1;
    transition-delay: 0.2s;
  }
  
  [data-animation="slideInOutDown"] .modal-dialog {
    transform: translateY(100%);
  }
  
  [data-animation="slideInOutTop"] .modal-dialog {
    transform: translateY(-100%);
  }
  
  [data-animation="slideInOutLeft"] .modal-dialog {
    transform: translateX(-100%);
  }
  
  [data-animation="slideInOutRight"] .modal-dialog {
    transform: translateX(100%);
  }
  
  [data-animation="zoomInOut"] .modal-dialog {
    transform: scale(0.2);
  }
  
  [data-animation="rotateInOutDown"] .modal-dialog {
    transform-origin: top left;
    transform: rotate(-1turn);
  }
  
  [data-animation="mixInAnimations"].is-visible .modal-dialog {
    animation: mixInAnimations 2s 0.2s linear forwards;
  }
  
[data-animation="slideInOutDown"].is-visible .modal-dialog,
[data-animation="slideInOutTop"].is-visible .modal-dialog,
[data-animation="slideInOutLeft"].is-visible .modal-dialog,
[data-animation="slideInOutRight"].is-visible .modal-dialog,
[data-animation="zoomInOut"].is-visible .modal-dialog,
[data-animation="rotateInOutDown"].is-visible .modal-dialog {
    transform: none;
}
  
@keyframes mixInAnimations {
    0% {
        transform: translateX(-100%);
    }

    10% {
        transform: translateX(0);
    }

    20% {
        transform: rotate(20deg);
    }

    30% {
        transform: rotate(-20deg);
    }

    40% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(-15deg);
    }

    60% {
        transform: rotate(10deg);
    }

    70% {
        transform: rotate(-10deg);
    }

    80% {
        transform: rotate(5deg);
    }

    90% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}